@font-face {
  font-family: 'eoa';
  src:  url('../fonts/eoa.eot?c8gjn4');
  src:  url('../fonts/eoa.eot?c8gjn4#iefix') format('embedded-opentype'),
    url('../fonts/eoa.ttf?c8gjn4') format('truetype'),
    url('../fonts/eoa.woff?c8gjn4') format('woff'),
    url('../fonts/eoa.svg?c8gjn4#eoa') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eoa' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.myicon-eoa-back:before {
  content: "\e926";
  color: #1fb67b;
}
.myicon-eoa-about:before {
  content: "\e900";
}
.myicon-eoa-add:before {
  content: "\e901";
  color: #f8994a;
}
.myicon-eoa-arrow-down:before {
  content: "\e902";
  color: #1fb57b;
}
.myicon-eoa-cash:before {
  content: "\e903";
  color: #1fb57b;
}
.myicon-eoa-checked:before {
  content: "\e904";
}
.myicon-eoa-coupon:before {
  content: "\e905";
  color: #f8994a;
}
.myicon-eoa-edit:before {
  content: "\e906";
  color: #fff;
}
.myicon-eoa-empty-my-order:before {
  content: "\e907";
}
.myicon-eoa-empty-soa:before {
  content: "\e908";
  color: #959595;
}
.myicon-eoa-eye:before {
  content: "\e909";
}
.myicon-eoa-home-active:before {
  content: "\e90a";
  color: #1eb57b;
}
.myicon-eoa-home-not-active:before {
  content: "\e90b";
  color: #474748;
}
.myicon-eoa-language:before {
  content: "\e90c";
  color: #b3b3b3;
}
.myicon-eoa-logout:before {
  content: "\e90d";
}
.myicon-eoa-menu:before {
  content: "\e90e";
  color: #1fb67b;
}
.myicon-eoa-my-order:before {
  content: "\e90f";
  color: #b8b8b8;
}
.myicon-eoa-order-history:before {
  content: "\e910";
  color: #b8b8b8;
}
.myicon-eoa-package:before {
  content: "\e911";
  color: #f89b50;
}
.myicon-eoa-pass:before {
  content: "\e912";
}
.myicon-eoa-quantity:before {
  content: "\e913";
  color: #f89b52;
}
.myicon-eoa-remove:before {
  content: "\e914";
  color: #f8994a;
}
.myicon-eoa-return-item:before {
  content: "\e915";
  color: #474748;
}
.myicon-eoa-scan:before {
  content: "\e916";
  color: #b8b9b9;
}
.myicon-eoa-scan-active:before {
    content: "\e917";
    color: #1fb57b;
}
.myicon-eoa-scan-green:before {
  content: "\e918";
  color: #1fb57b;
}
.myicon-eoa-search:before {
    content: "\e919";
    color: #1fb57b;
    font-size: 27px;
}
.myicon-eoa-selling-unit:before {
  content: "\e91a";
  color: #f89b50;
}
.myicon-eoa-settings:before {
  content: "\e91b";
}
.myicon-eoa-soa:before {
  content: "\e91c";
}
.myicon-eoa-time:before {
  content: "\e91d";
}
.myicon-eoa-trash:before {
  content: "\e91e";
}
.myicon-eoa-username:before {
  content: "\e91f";
  color: #b3b3b3;
}
.myicon-eoa-validation:before {
  content: "\e920";
}
.myicon-eoa-vendor:before {
  content: "\e921";
  color: #f89b50;
}
.myicon-logout-active:before {
  content: "\e922";
  color: #1ab57b;
}
.myicon-order-history:before {
  content: "\e923";
  color: #474748;
}
.myicon-order-history-active:before {
  content: "\e924";
  color: #1eb57b;
}
.myicon-v:before {
  content: "\e925";
}
