
/*shared style*/
.button.primary_btn {
    background-color: #1fb67b !important;
    color: #fff !important;
    border-radius: 25px !important;
    font-size: 12px;
}
.navbar-fixed .page-content.padding-top {
    padding-top: 110px !important;
}
#org i {
    font-size: 25px !important;
}

.button.danger_btn {
    background-color: #ef3e57 !important;
    color: #fff !important;
    border-radius: 25px !important;
    font-size: 12px;
}

.not-show {
    display: none !important;
}

/*#itemlist, #vendores, offers109 {
padding-top : 90px !important;
}*/
.bolder_text {
    font-weight: 900 !important;
}

.swiper-wrapper .buttons-row {
    padding: 0 10px;
}

.bolder_text_xs {
    font-weight: 600 !important;
}
/*radio btn and check-box style*/
label.label-radio input[type="checkbox"]:checked + .item-media i.icon-form-radio, label.label-radio input[type="checkbox"]:checked ~ .item-after i.icon-form-radio, label.label-radio input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio, label.label-radio input[type="radio"]:checked + .item-media i.icon-form-radio, label.label-radio input[type="radio"]:checked ~ .item-after i.icon-form-radio, label.label-radio input[type="radio"]:checked ~ .item-inner i.icon-form-radio, .form-radio input[type="radio"]:checked ~ i {
    border-color: #1fb67b !important;
}


    label.label-radio input[type="checkbox"]:checked + .item-media i.icon-form-radio:after, label.label-radio input[type="checkbox"]:checked ~ .item-after i.icon-form-radio:after, label.label-radio input[type="checkbox"]:checked ~ .item-inner i.icon-form-radio:after, label.label-radio input[type="radio"]:checked + .item-media i.icon-form-radio:after, label.label-radio input[type="radio"]:checked ~ .item-after i.icon-form-radio:after, label.label-radio input[type="radio"]:checked ~ .item-inner i.icon-form-radio:after, .form-radio input[type="radio"]:checked ~ i:after {
        background-color: #1fb67b !important;
    }

.subnavbar {
    background-color: #ffffff !important;
}

.card_list_content, .facebook-name {
    width: 100%;
    width: -webkit-fill-available;
}

.card {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
    border: 1px solid rgba(0,0,0,0.12) !important;
    border-radius: 5px !important;
}

.green_text {
    color: #1fb67b !important;
}

.hidden_element {
    display: none !important;
}

.my_green {
    background-color: #1fb67b !important;
    color: #ffffff !important;
    border-color : #1fb67b !important;
}
/*offer style card*/

#offers109 .my_green {
    background-color: #1fb67b !important;
    color: #ffffff !important;
}

    #offers109 .my_green .icon-next:before {
        color: #ffffff;
        font-size: 17px;
    }

    #offers109 .my_green .icon-next {
        color: #ffffff;
        font-size: 17px;
    }

#offers109 .item-media {
    min-height: 60px;
}

#offers109 .myicon-eoa-coupon {
    font-size: 30px;
}

#offers109 .item-inner {
    font-size: 17px;
}

#offers109 .card-footer {
    /*text-align: center;*/
    display: block;
    color: #1fb67b;
}

    #offers109 .card-footer a.link {
        color: #1fb67b;
        justify-content : center !important;
    }

    #offers109 .card-footer:before,
    #offers109 .card-footer:after,
    #offers109 item-inner :after {
        width: 0 !important;
        height: 0 !important;
    }

#offers109 .card {
    border-left: dashed 3px rgba(0,0,0,0.3) !important;
}



.statusbar-overlay {
    background-color: #ffffff !important;
    border-bottom: solid 1px white;
}

.navbar .center {
    color: #222 !important;
    text-transform: uppercase !important;
}

.list-block ul:before,
.list-block ul:after {
    background-color: transparent !important;
}

.toolbar-bottom .toolbar-inner a.link {
    color: #c5c5c5;
    font-size: 10px;
}

    .toolbar-bottom .toolbar-inner a.link span {
        margin: 0 !important;
    }

    .toolbar-bottom .toolbar-inner a.link.active {
        color: #1fb67b;
    }

.tabbar-labels {
    box-shadow: 0 0 0 0 !important;
    border-top: 1px solid #c5c5c5 !important;
    height: 60px !important;
}
/*Login Page*/
.login-page {
    background-color: #ffffff !important;
}

.logo {
    text-align: center;
}

    .logo img {
        padding-top: 20%;
        width: 38%;
    }

.login-btn {
    padding: 0 25%;
}

#start_first_oredr_btn {
    padding: 5px 25% !important;
}

    #start_first_oredr_btn .button,
    .login-btn .button {
        background-color: #1fb67b !important;
        color: #ffffff;
        border-radius: 20px;
        border: 1px solid #1fb67b;
    }

.list-block ul:before,
.list-block ul:after {
    background-color: transparent !important;
}

.list-block .item-inner:after {
    content: '' !important;
    position: absolute !important;
    left: 0 !important;
    bottom: 0 !important;
    right: auto !important;
    top: auto !important;
    height: 1px !important;
    width: 100% !important;
    background-color: #c8c7cc !important;
    display: block !important;
    z-index: 15 !important;
    -webkit-transform-origin: 50% 100% !important;
    transform-origin: 50% 100% !important;
}

.list-block .item-content {
    padding-right: 30px;
}

.list-block {
    margin-bottom: 0 !important;
}

.forget_pass {
    text-align: right;
    padding: 12px 30px;
    font-size: 10px;
}

    .forget_pass a {
        color: #222222;
    }

.register_btn {
    text-align: center;
    width: 100%;
    padding-top: 40%;
}

    .register_btn a {
        text-align: center;
        color: #222222;
        font-size: 12px;
    }

        .register_btn a span {
            color: #1fb67b;
            font-weight: 700;
        }

#IPpass,
#IPusn {
    font-size: 12px !important;
}

.swiper-container {
    min-height: 500px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fc9c4d !important;
}

.item-input-field:after, .input-field:after {
    width: 0 !important;
}
/*Home Page*/
.home-page,
.brand-page,
.page-promotions,
.page-catg,
.page-allitem {
    background-color: #f7f7f7 !important;
}

    .page-allitem .content-block-in1ner {
        padding-top: 10px;
        padding-bottom: 60px;
    }

.page-Allitemdet .card .item-title.label {
    width: auto !important;
}

.page-Allitemdet page-content {
    background-color: #f7f7f7 !important;
}

.page-Allitemdet .list-block .item-divider {
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.12) !important;
}

input#QunV {
    text-align: center;
}

.home-page .card-footer {
    display: block;
    text-align: center;
}

.navbar,
.toolbar,
.home-page .toolbar {
    background-color: #ffffff !important;
}

    .navbar .left,
    .navbar .right {
        color: #1fb67b !important
    }

.subnavbar .buttons-row a.tab-link.active,
html:not(.watch-active-state) .subnavbar .buttons-row a.tab-link:active,
.subnavbar .buttons-row a.tab-link.active-state,
.tabbar a.tab-link.active,
html:not(.watch-active-state) .tabbar a.tab-link:active,
.tabbar a.tab-link.active-state {
    color: #ffffff !important;
    background-color: #1fb67b !important;
    border-radius: 100px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-transform: uppercase;
    border-bottom: 0 !important;
}

    .subnavbar .buttons-row a.tab-link.active:after,
    html:not(.watch-active-state) .subnavbar .buttons-row a.tab-link:active :after,
    .subnavbar .buttons-row a.tab-link.active-state:after,
    .tabbar a.tab-link.active:after,
    html:not(.watch-active-state) .tabbar a.tab-link:active :after,
    .tabbar a.tab-link.active-state:after {
        border: 0 !important;
    }

.subnavbar .buttons-row a.tab-link,
.tabbar a.tab-link {
    color: #1fb67b !important;
    border: 0 !important;
    text-transform: uppercase;
}

.navbar .toolbar-inner {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

#itemlist li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar .button {
    height: 32px !important;
}

.tab-link-highlight {
    height: 0px !important;
}

.page-allitem #nes li {
    background-color: #ffffff !important;
}

.page-allitem #nes .item-media,
.home-page #tab2 .item-media {
    margin: 5px 10px;
    width: auto;
    background-color: #f7f7f7;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    padding: 9px !important;
}

    .page-allitem #nes .item-media img,
    .home-page #tab2 .item-media img {
        width: 70px;
        height: 70px;
    }

.home-page #tab2 .card-footer a {
    color: #1fb67b;
    justify-content: center !important;
}

.price_in_card {
    color: #1fb67b;
    float: right;
    padding-right: 7px;
}

    .price_in_card::after {
        content: "";
        clear: both;
    }

.home-page .tabbar {
    box-shadow: 0px 5px 8px #b0b0b1;
}

.brand-page .list-block {
    margin-top: 8px !important;
}

.page-allitem .searchbar {
    background: #1fb67b;
}

.list-block li:last-child .item-inner:after {
    background-color: #ffffff !important;
}

#Brands,
#nes,
#vendores {
    padding-bottom: 60px;
}

#OrderButtonV {
    padding: 0% 25%;
    /*margin: 10% 0%;*/
    margin-bottom: 20%;
}

ul.itemsOrderList {
    border-top: solid 1px #eaeaea !important;
}

#OrderButtonV .my_green {
    border-radius: 20px !important;
}

.page-Allitemdet .list-block {
    margin-top: 0px;
}

.prices li:first-child {
    margin-top: 5px;
}

#listorder .item-media img,
.itemsOrderList .item-media img {
    padding: 5px !important;
    background-color: #f7f7f7 !important;
    border: 1px solid #d8cdcd !important;
    border-radius: 5px !important;
}

.page-promotions .list-block .prices,
.page-catg .list-block .prices {
    padding: 0 28px;
    font-size: 13px !important;
}

.page-promotions .list-block li:last-child .itemsOrderList .item-content,
.page-catg .list-block li:last-child .itemsOrderList .item-content {
    border-bottom: 1px solid #e6e6e6;
}

.page-catg .swiper-container-horizontal > .swiper-pagination-bullets {
    top: 5px !important;
}

.page-promotions .page-catg .swiper-pagination {
    top: 10%;
    left: 20%;
    right: 20%;
}

.page-catg .swiper-pagination .swiper-pagination-bullet {
    margin-right: 2px;
    margin-left: 2px;
}

.page-catg .swiper-container.swiper-container-horizontal {
    padding-top: 20px;
}
/*.page-catg .list-block .itemsOrderList .item-content {
    border-bottom: 1px solid #e6e6e6;
}*/
.page-promotions .list-block .prices .item-inner:after,
.page-catg .list-block .prices .item-inner:after {
    background-color: #ffffff !important;
}

.page-promotions .list-block .prices .item-media,
.page-catg .list-block .prices .item-media {
    min-width: 75px !important;
}

page-promotions .list-block.media-list .prices .item-link .item-inner,
.page-catg .list-block.media-list .prices .item-link .item-inner {
    text-align: end !important;
}

.page-promotions .prices a,
.page-catg .prices a {
    height: 25px !important;
    min-height: 25px !important;
}

.page-promotions .prices .item-inner,
.page-promotions .prices .item-media,
.page-catg .prices .item-media,
.page-catg .prices .item-inner {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.page-promotions a.item-link.item-content.prom_net_total_li,
.page-catg a.item-link.item-content.net_total_li {
    border-top: 1px solid #d8d8d8;
    color: #1fb67b !important;
    font-weight: 600;
    margin: 12px 0px;
    padding-top: 10px;
}

.page-Allitemdet i.icon {
    font-size: 25px !important;
}

#lengthon.badge {
    position: absolute;
    left: 60%;
    margin-left: -10px;
    top: 2px;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    border-radius: 16px;
    padding: 0 4px;
    min-width: 16px;
    font-family: -apple-system,SF UI;
    background-color: #fc9c4d;
}


.vendor-offer-name h1 {
}

.vendor-offer-name p {
}

#noorderinfo {
    text-align: center !important;
    padding-top: 35% !important;
}

    #noorderinfo .myicon-eoa-my-order:before {
        font-size: 75px !important;
    }

span.button.edit-btn {
    background-color: #1fb67b !important;
    margin-bottom: 6px !important;
    color: #fff !important;
    border-radius: 0px 4px 0px 6px !important;
    margin-top: -6px;
    margin-right: -1px;
    padding: 5px 0 !important;
    min-width: 45px !important;
}

.card-header.custom-header-style {
    padding: 0 0px 1px 15px !important;
}

.page-promotions .bendlist .item-media {
    min-width: 20px !important;
}

.page-promotions .bendlist li {
    padding-right: 20px !important;
}

.page-promotions .bendlist .item-inner {
    padding-right: 0 !important;
}

.page-promotions .bendlist label.label-radio.item-content {
    padding: 0 !important;
}

.coupon-end i.icon.myicon-eoa-coupon:before {
    font-size: 25px !important;
}

.coupon-end i.icon.myicon-eoa-coupon {
    font-size: 25px !important;
}

.page-promotions .bendlist .item-title {
    white-space: pre-line !important;
}

.page-promotions #tab2 p.buttons-row {
    padding: 0 25%;
}

.page-promotions #list92 .card {
}

span.arrow-btn {
    position: absolute;
    top: -14px;
    width: 25px;
    height: 25px;
    text-align: center;
    background-color: #fc9c4d;
    left: 41%;
    border-radius: 100%;
    z-index: 1;
    line-height: 2.5;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
    top: 62px !important;
    left: 47% !important;
}

i.icon.myicon-eoa-coupon.coupon-offers-card {
    font-size: 65px !important;
    padding-top: 20px;
}

.offers-modal .content-block-title {
    text-transform: capitalize;
    color: #1fb67b;
}

.iub li {
    list-style: none !important;
}

.card-footer {
    border-top: 1px solid #f7f7f7;
}

.login-page form i {
    font-size: 25px !important;
    font-weight: 100 !important;
    color: #cecece !important;
}

.login-page form .item-media {
    padding-left: 10px !important;
}

#item_information i {
    font-size: 24px !important;
    vertical-align: middle !important;
}

#tab3 .like_li {
    padding-right: 5px;
}

#Brands .like_li .item-media img ,
#tab3 .like_li .item-media img {
    width: 70px;
    height: 70px;
}

#tab3 .list-block .item-inner:after {
    background-color: transparent !important;
}

li#welcome {
    font-size: 23px;
    padding: 20px 0;
}

    li#welcome i {
        font-size: 27px !important;
        color: rgba(0,0,0,0.3) !important;
    }

    li#welcome .item-inner {
        padding-right: 0px;
    }


#mynavigations li i,
#mynavigations li i:before {
    color: #1fb67b !important;
    font-size: 25px !important;
    background-color: #f7f7f7;
    padding: 14px 7px;
    border-radius: 100%;
}
    #mynavigations li i.myicon-eoa-close:before {
        color: #ef3e57 !important;
       
    } 
#mynavigations .myicon-eoa-order-history:before {
    color: #1fb67b !important;
}
#mynavigations li a {
    padding-right: 2px;
}

#mynavigations .list-block .item-inner:after {
    background-color: #ffffff !important;
}
.list-block li#welcome .item-inner:after {
    background-color : #ffffff !important;
}

#mynavigations li a span {
    display: block;
    font-size: 10px;
    color: #fc9c4d;
}
.page-catg i.myicon-eoa-empty-my-order {
    font-size: 100px !important;
}

.item-after.item-input.qua-area {
    padding-left: 33%;
}
span.inc-qua {
    padding-top: 8px;
    color: #fc9c4d;
}
span.dec-qua {
    padding-top: 8px;
    color: #fc9c4d;
}
p.no-item-brands {
    text-align: -webkit-center;
    padding-top: 40%;
    font-size: 18px;
    color: #aba5a5;
}
    p.no-item-brands i {
        font-size: 70px !important;
    }
#noorderinfo p.buttons-row {
    padding: 0 25%;
    border-radius: 20px;
}
    #noorderinfo p.buttons-row .my_green {
    border-radius : 20px ;
    }
.panel {
background-color : #fff !important;
}
div#PriceV {
    color: #000000;
    font-size: 15px;
    font-weight: 500;
}